# .gitignore para proyecto .NET

# Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/

# Archivos de publicación
publish/

# Archivos de configuración local
appsettings.Development.json

# Archivos de base de datos
*.mdf
*.ldf

# Archivos de logs
*.log

# Archivos generados por herramientas
TestResults/
*.ncrunch*
*.vshost.*

# Archivos de paquetes
*.nupkg
packages/

# Archivos de usuario de Rider y JetBrains
.idea/
*.sln.iml

# Archivos de configuración de VS Code
.vscode/

# Otros
*.DS_Store
Thumbs.db
